<main>
  <h1>Add New Lesson</h1>
  <form action="/lessons" method="post">
    <dl class="label-input-pairs">
      <dt><label for="venue">Venue:</label></dt>
      <dd>
        <select id="venue" name="venue_id" required>
          <% @venues.each do |venue| %>
            <option value="<%= venue.id %>"
                <%= try_to_i(params[:venue_id]) == venue.id ? "selected" : "" %>>
              <%= venue %>
            </option>
          <% end %>
        </select>
      </dd>
      <dt><label for="day_idx">Day:</label></dt>
      <dd>
        <select id="day_idx" name="day_idx" required>
          <% Lesson::WEEK_DAYS.each_with_index do |day, index| %>
            <option value="<%= index %>"
                <%= try_to_i(params[:day_idx]) == index ? "selected" : "" %>>
              <%= day %>
            </option>
          <% end %>
        </select>
      </dd>
      <dt><label for="start_time">Lesson start time:</label></dt>
      <dd>
        <input type="time" id="start_time" name="start_time"
            value="<%= params[:start_time] %>" required/>
      </dd>
      <dt><label for="duration">Duration in minutes:</label></dt>
      <dd>
        <input type="number" id="duration" name="duration"
            min="15" max="60" value="<%= params[:duration] || 30 %>" required/>
      </dd>
      <dt><label for="capacity">Class size:</label></dt>
      <dd>
        <input type="number" id="capacity" name="capacity"
            min="1" max="12" value="<%= params[:capacity] || 4 %>" required/>
      </dd>
    </dl>
    <input type="submit" value="Add Lesson"/>
  </form>
  <a class="back-link" href="<%= session[:return_path] %>">Back</a>
</main>
